body {
  font-family: "Mulish", sans-serif;
}

div {
  box-sizing: border-box;
}

section {
  max-width: 1600px;
}

.header {
  background-color: #ffffff;
  width: 1487px;
  height: auto;
  margin-bottom: 190px;
}

.header__container {
  display: flex;
  gap: 512px;
}

.header__logo {
  width: 160px;
  height: 41px;
  left: 191px;
  margin-top: 56px;
  margin-left: 191px;
}

.header__nav {
  margin-top: 70px;
}

.header__nav ul {
  display: flex;
  gap: 40px;
}

.header__nav a {
  color: #8f8a99;
  text-decoration: none;
}

.header__nav li:first-child > a {
  color: #1f1534;
}

.header__element {
  position: absolute;
  margin-top: 160px;
  opacity: 0.3;
}

.consult {
  display: flex;
  margin-top: 8px;
  margin-left: 190px;
}

.consult__heading {
  width: 445px;
  height: 338px;
}

.consult__heading h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.consult__text {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  mix-blend-mode: normal;
  margin-top: 25px;
}

.consult__btn {
  width: 200px;
  height: 60px;
  background: #458ff6;
  color: #ffffff;
  border: none;
  border-radius: 55px;
  margin-top: 45px;
}

.consult__img {
  margin-top: -106px;
  margin-left: 109px;
  width: 693px;
  height: 598px;
}

.our-services {
  margin-top: 190px;
  margin-right: 190px;
  margin-bottom: 218px;
}

.our-services__img {
  position: absolute;
  width: 1119px;
  height: 968px;
  left: -20px;
  top: 965px;
  opacity: 0.6;
  transform: rotate(355deg);
  z-index: -1;
}

.our-services__heading {
  display: flex;
  height: 177px;
  flex-direction: column;
  margin-left: 323px;
  align-items: center;
}

.our-services__heading__first {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  display: block;
}

.our-services__heading__line {
  width: 56px;
  height: 2px;
  margin-top: 26px;
  margin-bottom: 33px;
}

.our-services__heading__second {
  height: 60px;
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.our-services__grid {
  width: 1120px;
  height: 745px;
  display: grid;
  column-gap: 34px;
  row-gap: 37px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
  margin-left: 240px;
}

.our-services__grid__element {
  width: 350px;
  height: 354px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding-top: 54px;
  padding-left: 37px;
  padding-bottom: 47px;
}

.our-services__grid__element-img {
  width: 67px;
  height: 95px;
}

.our-services__grid__element__text-headline {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
  margin-top: 22px;
  margin-bottom: 1px;
  text-align: left;
}

.our-services__grid__element__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
  margin-bottom: 46.6px;
  margin-right: 45px;
}

.our-services__bg-element {
  position: absolute;
  left: 1278px;
  top: 1511px;
  right: 190px;
  bottom: 4244px;
  width: 131px;
  height: 115px;
  opacity: 0.3;
  z-index: -1;
}

.our-services__btn {
  width: 200px;
  height: 60px;
  border: 1.4px solid #458ff6;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 55px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  mix-blend-mode: normal;
  margin-top: 69px;
  margin-left: 700px;
  margin-right: 700px;
}

.providers {
  margin-left: 134px;
  margin-top: 218px;
  display: flex;
  gap: 137px;
}
.providers__img {
  width: 650px;
  height: 477px;
}

.providers__info {
  width: 486px;
  height: 388px;
  margin-top: 57px;
}

.providers__info-headline {
  width: 481px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.providers__info-line {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  margin-top: 26px;
  margin-bottom: 31px;
}

.providers__info-text {
  width: 450px;
  height: 120px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
}

.providers__btn {
  padding: 3px 51px 1px 51px;
  background-color: #ffffff;
  margin-top: 37px;
  margin-bottom: 32px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  width: 200px;
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #458ff6;
}

.providers__element {
  width: 131px;
  height: 115px;
  margin-top: 460px;
  opacity: 0.3;
}

.apps {
  margin-top: 231px;
  margin-left: 280px;
  width: 1365.58px;
  display: flex;
  gap: 71px;
}

.apps__info {
  width: 420px;
  height: 375px;
  margin-top: 36px;
}

.apps__info-heading {
  width: 254px;
  height: 96px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.apps__info-line {
  width: 56px;
  height: 2px;
  background: #000000;
  margin-top: 30px;
  margin-bottom: 31px;
}

.apps__info-text {
  width: 420px;
  height: 120px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.apps__info__btn {
  width: 200px;
  height: 56px;
  background-color: #fff;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #458ff6;
}

.apps__info__btn-arrow {
  margin-left: 14px;
  width: 15.4px;
  height: 10px;
}

.apps__img {
  width: 665px;
  height: 434px;
}

.reviews {
  margin-top: 251px;

  margin-left: 190px;
}

.reviews__wrapper {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  width: 1120px;
  height: 425px;
  padding-top: 64px;
  padding-left: 118px;
  padding-bottom: 79px;
}

.reviews__element-first {
  position: relative;
  width: 131px;
  height: 115px;
  bottom: 154px;
  opacity: 0.3;
  z-index: -1;
}

.reviews__element-second {
  opacity: 0.26;
  position: relative;
  width: 131px;
  height: 115px;
  left: 956px;
  bottom: 418px;
}
.reviews__wrapper__headline {
  margin-left: 183px;
  margin-right: 297px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  color: #ffffff;
}

.reviews__wrapper__line {
  width: 56px;
  height: 2px;
  background: #ffffff;
  border-radius: 6px;
  margin-left: 416px;
  margin-right: 530px;
  margin-bottom: 66px;
}

.reviews__wrapper__customer-photo {
  width: 141px;
  height: 141px;
}

.reviews__wrapper__customer-name {
  display: block;
  margin-left: 170px;
  margin-top: -110px;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.reviews__wrapper__customer-position {
  display: block;
  margin-top: -8px;
  display: block;
  margin-left: 170px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
  mix-blend-mode: normal;
}

.reviews__wrapper__text {
  margin-left: 464px;
  margin-top: -111px;
  margin-right: 118px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
}

.reviews__nav {
  display: flex;
  position: relative;
  bottom: 60px;
  left: 391px;
  gap: 90px;
}

.reviews__nav-list {
  list-style: none;
  display: flex;
  gap: 18px;
}

.reviews__nav__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.3;
  background-color: #5b9bf3;
}

.reviews__nav__item-active {
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5b9bf3;
}

.info {
  margin-top: 222px;
  margin-left: 240px;
  position: relative;
  width: 1600px;
  overflow: hidden;
}

.info__heading {
  margin-left: 378px;
  font-size: 36px;
  font-weight: bold;
  line-height: 56px;
  color: #000000;
}

.info__line {
  width: 56px;
  height: 2px;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 79px;
  margin-left: 581px;
}

.info__element {
  position: absolute;
  top: 127px;
  opacity: 0.3;
  z-index: -1;
}

.info__articles {
  position: relative;
  margin-left: 49px;
  height: 512px;
  display: flex;
  gap: 34px;
}

.info__articles__item {
  width: 350px;
  height: 512px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.info__articles__item-img {
  width: 350px;
  height: 240px;
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
}

.info__articles__item-textblock {
  padding: 24px 66px 25px 33px;
  height: 272px;
}

.info__articles__item-heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
  mix-blend-mode: normal;
}

.info__articles__item-text {
  margin-top: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
}

.info__articles__item-readmore {
  margin-top: 25px;
  margin-bottom: 35px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.info__articles__item-btn {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
}

.info__articles__item-arrow {
  width: 14px;
  height: 9px;
}

.info__articles__bg-img {
  width: 778.73px;
  height: 557.4px;
  position: absolute;
  left: 850px;
  top: 40px;
  z-index: -1;
  opacity: 0.6;
}

.info__btn {
  margin-left: 500px;
  margin-top: 69px;
  width: 200px;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  background: #fff;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
}

.footer {
  display: flex;
  gap: 145px;
  position: relative;
  margin-top: 201px;
  padding-top: 118px;
  padding-left: 190px;
  width: 1600px;
  height: 432px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer__element-first {
  position: absolute;
  left: 1500px;
  top: -72px;
  width: 131px;
  height: 115px;
  opacity: 0.3;
}

.footer__about {
  width: 391px;
  height: 201px;
  color: #ffffff;
}

.footer__about-logo {
  display: flex;
  gap: 12px;
}
.footer__about__img {
  margin-right: 12px;
  width: 41px;
  border-radius: 50%;
  height: 41px;
  background: #ffffff;
}

.footer__about__heading {
  margin-top: 6px;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.footer__about__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  mix-blend-mode: normal;
}

.footer__about__text-below {
  font-size: 16px;
  line-height: 28px;
}

.footer__nav {
  display: flex;
  gap: 100px;
}

.footer__nav li {
  list-style: none;
}

.footer__nav a {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
}

.footer__nav__list {
  width: 160px;
  text-align: left;
}

.footer__nav__list-heading {
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 60px;
}

.footer__element-second {
  position: absolute;
  opacity: 0.26;
  bottom: -19px;
  left: 0;
  width: 131px;
  height: 115px;
}
