.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

body {
  font-family: "Mulish";
}

div {
  box-sizing: border-box;
}

section {
  max-width: 1600px;
}

.header {
  background-color: #ffffff;
  width: 1487px;
  height: auto;
  margin-bottom: 190px;
}

.header__container {
  display: flex;
  gap: 512px;
}

.header__logo {
  width: 160px;
  height: 41px;
  left: 191px;
  margin-top: 56px;
  margin-left: 191px;
}

.header__nav {
  /* width: 545px; */
  margin-top: 70px;
}

.header__nav ul {
  display: flex;
  gap: 40px;
}

.header__nav a {
  color: #8f8a99;
  text-decoration: none;
}

.header__nav li:first-child > a {
  color: #1f1534;
}

.header__element {
  position: absolute;
  margin-top: 160px;
  opacity: 0.3;
}

.consult {
  display: flex;
  margin-top: 8px;
  margin-left: 190px;
}

.consult__heading {
  width: 445px;
  height: 338px;
}

.consult__heading h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.consult__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  mix-blend-mode: normal;
  margin-top: 25px;
}

.consult__btn {
  font-family: "Mulish";
  width: 200px;
  height: 60px;
  background: #458ff6;
  color: #ffffff;
  border: none;
  border-radius: 55px;
  margin-top: 45px;
}

.consult__img {
  margin-top: -106px;
  margin-left: 109px;
  width: 693px;
  height: 598px;
}

.our-services {
  margin-top: 190px;
  margin-right: 190px;
  margin-bottom: 218px;
  display: flex;
}

.our-services__img {
  position: absolute;
  width: 938px;
  height: 671px;
  left: -150px;
  top: 965px;
  opacity: 0.6;
  transform: rotate(355deg);
  z-index: -1;
}

.our-services__heading {
  display: block;
  margin-left: 323px;
  /* margin-right: 323px; */
  /* margin-left: 325px; */
}

.our-services__heading__first {
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  /* margin-left: 323px; */
}

.our-services__heading__line {
  width: 56px;
  height: 2px;
  /* margin-top: 26px; */
  /* margin-left: 400px; */
}

.our-services__heading__second {
  /* margin-top: 33px; */
  /* margin-right: 2px; */
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7d7987;
}

.our-services__grid {
  width: 1120px;
  height: 745px;
  margin-left: 240px;
  margin-bottom: 69px;
  margin-right: 240px;
  padding-right: 0px;
  padding-left: 0px;
  z-index: 2;
}

.our-services__grid__line {
  height: 354px;
}
.our-services__grid__element {
  width: 350px;
  height: 354px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding-top: 54px;
  padding-left: 37px;
  /* float: left; */
  padding-bottom: 47px;
  margin-bottom: 37px;
}

.our-services__grid__element-img {
  width: 67px;
  height: 95px;
}

.our-services__grid__element-central {
  width: 350px;
  height: 354px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding-top: 54px;
  padding-left: 37px;
  float: left;
  padding-bottom: 47px;
  margin-left: 34px;
  margin-right: 36px;
}

.our-services__grid__element__text-headline {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
  margin-top: 22px;
  margin-bottom: 1px;
  text-align: left;
}

.our-services__grid__element__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
  margin-bottom: 46.6px;
  margin-right: 45px;
}

.our-services__bg-element {
  /* position: absolute; */
  left: 1278px;
  top: 1511px;
  right: 190px;
  bottom: 4244px;
  width: 131px;
  height: 115px;
  opacity: 0.3;
  z-index: -1;
}

.our-services__btn {
  width: 200px;
  height: 60px;
  border: 1.4px solid #458ff6;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 55px;
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  mix-blend-mode: normal;
  margin-top: 69px;
  margin-left: 700px;
  margin-right: 700px;
}

.providers {
  margin-left: 134px;
  display: flex;
}
.providers__img {
  width: 650px;
  height: 477px;
}

.providers__info {
  width: 486px;
  height: 388px;
  margin-left: 792px;
  margin-right: 193px;
  margin-top: -420px;
  float: right;
}

.providers__info-headline {
  width: 481px;
  height: 112px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}

.providers__info-line {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  margin-top: 26px;
  margin-bottom: 31px;
}

.providers__info-text {
  width: 450px;
  height: 120px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
}

.providers__btn {
  padding: 3px 51px 1px 51px;
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 32px;
  border: 1.4px solid #458ff6;
  box-sizing: border-box;
  border-radius: 55px;
  width: 200px;
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 60px;
  color: #458ff6;
  mix-blend-mode: normal;
}

.apps {
  margin-top: -2px;
  margin-left: 280px;
  margin-right: -45px;
  margin-bottom: 251px;
  width: 1365.58px;
  height: 675px;
}

.apps__info {
  float: left;
  margin-top: 277px;
  width: 420px;
  height: 375px;
}

.apps__info-heading {
  width: 254px;
  height: 96px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  mix-blend-mode: normal;
  margin-top: 0px;
}

.apps__info-line {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 31px;
}

.apps__info-text {
  width: 420px;
  height: 120px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
  margin-bottom: 40px;
}

.apps__info__btn {
  width: 200px;
  height: 56px;
  background-color: #fff;
  border: 1.4px solid #458ff6;
  box-sizing: border-box;
  border-radius: 55px;
  margin-bottom: 23px;
}

.apps__info__btn-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  mix-blend-mode: normal;
}

.apps__info__btn-arrow {
  /* position: absolute; */
  float: left;
  margin-top: 0px;
  margin-left: 14px;
  margin-right: 20px;
  width: 15.4px;
  height: 9.8px;
}

.apps__img {
  float: right;
  margin-top: 231px;
  margin-right: 164px;
  width: 665px;
  height: 434px;
}

.apps__element {
  width: 131px;
  height: 115px;
  margin-left: 814px;
  margin-right: -45px;
  opacity: 0.3;
}

.reviews {
  margin-top: 300px;
  width: 1219.58px;
  height: 440px;
  margin-left: 190px;
  margin-right: 190px;
  padding: 10px 10px 10px 10px;
}

.reviews__wrapper {
  margin: 0 47px 0 52px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  width: 1120px;
  height: 425px;
  padding-top: 64px;
  padding-left: 118px;
  padding-bottom: 79px;
}

.reviews__wrapper__element-first {
  width: 131px;
  height: 115px;
  opacity: 0.3;
}

.reviews__wrapper__headline {
  width: auto;
  margin-left: 183px;
  margin-right: 297px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.reviews__wrapper__line {
  width: 56px;
  height: 2px;
  background: #ffffff;
  border-radius: 6px;
  margin-left: 416px;
  margin-right: 530px;
  margin-bottom: 66px;
}

.reviews__wrapper__customer {
}

.reviews__wrapper__customer-photo {
  width: 141px;
  height: 141px;
}

.reviews__wrapper__customer-name {
  display: block;
  margin-left: 170px;
  margin-top: -110px;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.reviews__wrapper__customer-position {
  display: block;
  margin-top: -8px;
  display: block;
  margin-left: 170px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
  mix-blend-mode: normal;
}

.reviews__wrapper__text {
  margin-left: 464px;
  margin-top: -111px;
  margin-right: 118px;
  margin-bottom: 10px;
  float: right;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
}

.reviews__wrapper__element-first {
  margin-left: -52px;
  margin-top: -154px;
  margin-bottom: 39px;
  opacity: 0.3;
}

.reviews__wrapper__element-second {
  opacity: 0.26;
}

.info {
  margin-top: 216px;
  margin-left: 191px;
  height: 744px;
}

.info__heading {
  margin-left: 378px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}

.info__line {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  margin-top: 26px;
  margin-left: 581px;
}

.info__element {
  /* position: relative; */
  top: 211px;
  opacity: 0.3;
}

.info__articles {
  width: 1120px;
  margin-top: 69px;
  margin-left: 49px;
  margin-right: 240px;
}

.info__articles__item {
  float: left;
  width: 350px;
  height: 512px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.info__articles__item-center {
  float: left;
  width: 351px;
  height: 512px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-right: 35px;
  margin-left: 34px;
}

.info__articles__item-img {
  width: 350px;
  height: 240px;
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
}

.info__articles__item-heading {
  margin-top: 24px;
  margin-left: 33px;
  margin-right: 66px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
  mix-blend-mode: normal;
}

.info__articles__item-text {
  margin-top: 12px;
  margin-left: 33px;
  margin-right: 51px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
}

.info__articles__item-btn {
  margin-top: 25px;
  margin-left: 33px;
  margin-right: 51px;
  margin-bottom: 35px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
  mix-blend-mode: normal;
}

.info__articles__bg-img {
  /* position: relative; */
  width: 778.73px;
  height: 557.4px;
  top: -681px;
  left: 1053px;
  opacity: 0.6;
  /* for some reason rotation angle is wrong*/
  transform: rotate(-159.84deg);
}

.info__btn {
  /* position: relative; */
  top: -491px;
  width: 200px;
  height: 60px;
  margin-left: 509px;
  margin-right: 700px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  mix-blend-mode: normal;
  background: #fff;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
}

.footer {
  margin-top: 301px;
  margin-bottom: 0px;
  width: 1600px;
  height: 432px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer__element-first {
  opacity: 0.26;
}

.footer__about {
  padding-left: 191px;
  padding-top: 118px;
  padding-bottom: 113px;
  width: 391px;
  height: 201px;
}

.footer__about__img {
  margin-right: 12px;
  float: left;
  width: 41px;
  height: 41px;
  background: #ffffff;
}

.footer__about__heading {
  margin-top: 6px;
  margin-bottom: 17px;
  float: left;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.footer__about__text {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.footer__about__text-below {
  margin-top: 31px;
  margin-right: 145px;
}

.footer__nav {
  float: right;
  margin-left: 536px;
  margin-bottom: 109px;
}

.footer__nav li {
  float: left;
  list-style: none;
  margin-right: 40px;
}

.footer__nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.footer__nav__list {
  max-height: 214px;
  float: left;
  margin-right: 30px;
  width: 160px;
  text-align: left;
}

.footer__nav__list-heading {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
}

.footer__element-second {
  /* position: absolute; */
  background-color: lawngreen;
  margin-bottom: 0px;
  opacity: 0.26;
}
